<section class="top-slider">
    <h2 class="visually-hidden">Top Slider</h2>
    <div class="top-slider__wrapper">
        <img src="img/waves.svg" class="top-slider__wave">
        <div class="swiper top-slider__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source srcset="img/sl-1-1.jpg" media="(min-width: 1025px)">
                        <source srcset="img/sl-1-2.jpg" media="(min-width: 767px)">
                        <img src="img/sl-1-3.jpg" alt="">
                    </picture>
                    <div class="top-slider__inner-div">
                        <h4>Stop wiping your butt,<br> start washing with TUSHY.</h4>
                        <p>Transform your restroom into the best room<br> with our full line of TUSHY products.</p>
                        <a href="#">Shop Tushy</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="img/sl-2-1.jpg" media="(min-width: 1441px)">
                        <source srcset="img/sl-2-2.jpg" media="(min-width: 1025px)">
                        <source srcset="img/sl-2-3.jpg" media="(min-width: 767px)">
                        <img src="img/sl-2-4.jpg" alt="">
                    </picture>
                    <div class="top-slider__inner-div">
                        <h4>Two clean bums are better than one! </h4>
                        <p><span>Save $90</span> on new TUSHY 2-Packs!</p>
                        <a href="#">Shop Now</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="img/sl-3-1.jpg" media="(min-width: 1025px)">
                        <source srcset="img/sl-3-2.jpg" media="(min-width: 767px)">
                        <img src="img/sl-3-3.jpg" alt="">
                    </picture>
                    <div class="top-slider__inner-div">
                        <h4>Meet TUSHY Ace: the  electric bidet seat.</h4>
                        <p>A first class clean for your superior posterior.</p>
                        <a href="#">CLAIM YOUR THRONE</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="img/sl-4-1.jpg" media="(min-width: 1025px)">
                        <source srcset="img/sl-4-2.jpg" media="(min-width: 767px)">
                        <img  srcset="img/sl-4-3.jpg">
                    </picture>
                    <div class="top-slider__inner-div">
                        <h4>Introducing TUSHY Ottoman.</h4>
                        <p>The only piece of high-end furniture designed specifically to help you poop.</p>
                        <a href="#">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="brands">
    <h2 class="visually-hidden">Brands</h2>
    <div class="brands__wrapper">
        <img class="brands__wave-img" src="img/waves-green.svg">
        <h3>Rated the #1 Bidet Attachment</h3>

        <svg class="brands__svg-text" enable-background="new 0 0 1200 160" viewBox="0 0 1200 160" xmlns="http://www.w3.org/2000/svg">
          <path id="curve" d="m11.9 155.4s261.8-211.5 588.1-75.4 588.1-75.4 588.1-75.4" fill="none"></path>

          <text width="500" x="50%">
            <textPath id="curved-text" alignment-baseline="top" xlink:href="#curve" fill="#2F5A62" font-size="40" text-anchor="middle">Rated the #1 Bidet Attachment
            </textPath>
          </text>
        </svg>

        <div class="swiper brands__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/brand-1.png" width="100" height="39" alt="Бренд">
                </div>
                <div class="swiper-slide">
                    <img src="img/brand-2.png" width="232" height="26" alt="Бренд">
                </div>
                <div class="swiper-slide">
                    <img src="img/brand-3.png" width="111" height="35" alt="Бренд">
                </div>
                <div class="swiper-slide">
                    <img src="img/brand-4.png" width="131" height="40" alt="Бренд">
                </div>
                <div class="swiper-slide">
                    <img src="img/brand-5.png" width="120" height="24" alt="Бренд">
                </div>
                <div class="swiper-slide">
                    <img src="img/brand-6.png" width="300" height="62" alt="Бренд">
                </div>
                <div class="swiper-slide">
                    <img src="img/brand-7.png" width="144" height="25" alt="Бренд">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="adven">
    <h2 class="visually-hidden">Advan</h2>
    <div class="adven__wrapper">
        <img class="adven__wave-img" src="img/waves-green-end.svg">
        <ul>
            <li>
                <div class="adven__top">
                    <h2>Hello TUSHY Bidet.</h2>
                    <p>The modern bidet that saves your ass, saves your money, saves the planet and saves the world.</p>
                    <div>
                        <a class="adven__top-first-link" href="#">SHOP BIDETS</a>
                        <a class="adven__top-second-link" href="#">How it works</a>
                    </div>
                </div>
                <div class="adven__bottom">
                    <img src="img/adven-1.png">
                </div>
            </li>
            <li>
                <div class="adven__top">
                    <h2>Hello TUSHY Ottoman.</h2>
                    <p>TThe only piece of high-end furniture designed specifically to help you poop.</p>
                    <div>
                        <a class="adven__top-first-link" href="#">SHOP OTTOMAN</a>
                        <a class="adven__top-second-link" href="#">How it works</a>
                    </div>
                </div>
                <div class="adven__bottom">
                    <img src="img/adven-2.png">
                </div>
            </li>
            <li>
                <div class="adven__top">
                    <h2>Hello TUSHY Travel.</h2>
                    <p>Poop happens. Everywhere. So be prepared with the TUSHY Travel, the only collapsible and expandable portable bidet that fits discreetly in your backpack, purse or fanny pack.</p>
                    <div>
                        <a class="adven__top-first-link" href="#">SHOP TRAVEL</a>
                        <a class="adven__top-second-link" href="#">How it works</a>
                    </div>
                </div>
                <div class="adven__bottom">
                    <img src="img/adven-3.png">
                </div>
            </li>
            <li>
                <div class="adven__top">
                    <h2>Hello Bamboo TP.</h2>
                    <p>Go tree-free with TUSHY Bamboo Toilet Paper. Made from 100% bamboo, it’s the perfect way to pat dry.</p>
                    <div>
                        <a class="adven__top-first-link" href="#">SHOP TOILET PAPER</a>
                        <a class="adven__top-second-link" href="#">How it works</a>
                    </div>
                </div>
                <div class="adven__bottom">
                    <img src="img/adven-4.png">
                </div>
            </li>
            <li>
                <div class="adven__top">
                    <h2>Hello Bamboo Towels.</h2>
                    <p>Wrap yourself from top to bottom in the coziest towels around. Made from a beautiful blend of super-soft sustainable bamboo.</p>
                    <div>
                        <a class="adven__top-first-link" href="#">SHOP TOWELS</a>
                        <a class="adven__top-second-link" href="#">How it works</a>
                    </div>
                </div>
                <div class="adven__bottom">
                    <img src="img/adven-5.png">
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="tops">
    <h2 class="visually-hidden">Tops</h2>
    <div class="tops__wrapper">
        <img class="tops__wave-img" src="img/waves-white.svg">
        <h2>BESTSELLERS</h2>
        <ul>
        <li>
            <img src="img/top-1.png">
            <h3>TUSHY CLASSIC 3.0</h3>
            <p>Wash Your Bum</p>
            <a href="#">SHOP NOW</a>
        </li>
        <li>
            <img src="img/top-2.png">
            <h3>TUSHY SPA 3.0</h3>
            <p>Wash Your Bum with Warm Water</p>
            <a href="#">SHOP NOW</a>
        </li>
        </ul>
    </div>
</section>

<section class="reviwes">
    <h2 class="visually-hidden">Reviwes</h2>
    <div class="reviwes__wrapper">
        <img src="img/waves-greenlight.svg" class="reviwes__svg">
        <div class="swiper reviwes__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <video autoplay="" muted="" loop="" playsinline="">
                        <source src="video/rew-1.mp4" type="video/mp4">
                    </video>
                    <div>
                        <h4>"My bum is slick as a whistle."</h4>
                        <h5>- Matt D, A Real Pooping Human</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <video autoplay="" muted="" loop="" playsinline="">
                        <source src="video/rew-2.mp4" type="video/mp4">
                    </video>
                    <div>
                        <h4>"Butt tested. Butt approved."</h4>
                        <h5>- Michelle B, A Real Pooping Human</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <video autoplay="" muted="" loop="" playsinline="">
                        <source src="video/rew-3.mp4" type="video/mp4">
                    </video>
                    <div>
                        <h4>"Ass-tonishing!"</h4>
                        <h5>- Ralph F, A Real Pooping Human</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <video autoplay="" muted="" loop="" playsinline="">
                        <source src="video/rew-4.mp4" type="video/mp4">
                    </video>
                    <div>
                        <h4>"Better than any diamond my husband EVER gave me."</h4>
                        <h5>- Lottie B, A Real Pooping Human</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <video autoplay="" muted="" loop="" playsinline="">
                        <source src="video/rew-5.mp4" type="video/mp4">
                    </video>
                    <div>
                        <h4>"Clean AF. Love my TUSHY."</h4>
                        <h5>- Caleb L, A Real Pooping Human</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
    </div>
    <a href="#" class="reviwes__more">MORE REVIEWS</a>
</section>

<section class="brands-main">
    <h2 class="visually-hidden">Brands Main</h2>
    <div class="brands-main__wrapper">
        <img src="img/waves-white.svg" class="brands-main__svg">
    </div>
</section>

<section class="links">
    <h2 class="visually-hidden">Links</h2>
    <div class="links__wrapper">
        <ul>
            <li>
                <a href="#">
                    <img src="img/link-1.png">
                    <p>Frequently Asked Questions</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/link-2.png">
                    <p>The Posterior</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/link-3.png">
                    <p>TUSHY TV</p>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="garanty">
    <h2 class="visually-hidden"></h2>
    <div class="garanty__wrapper">
        <img class="garanty__wave-img" src="img/waves-green-end.svg">
    </div>
</section>
