<header class="main-header">

    <section class="adv">
        <h2 class="visually-hidden">Advantages</h2>
        <div class="adv__wrapper">
            <div class="swiper adv__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="#">Buy now and pay in 4 installments with Shop Pay!</a></div>
                    <div class="swiper-slide"><a href="#">Get 10% off sent to your phone!</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="menu">
        <h2 class="visually-hidden">Menu</h2>
        <div class="menu__wrapper menu__wrapper--mobile">
            <div class="menu__top">
                <button class="menu__open-trigger js__menu-open-trigger">
                    <svg width="27" height="17" viewBox="0 0 27 17" xmlns="http://www.w3.org/2000/svg">
                        <g fill="currentColor" fill-rule="evenodd">
                            <path d="M10.212 3H0v2h9.33a8.21 8.21 0 0 1 .882-2zM9.026 8H0v2h9.434a8.307 8.307 0 0 1-.408-2zm2.197 5H0v2h14.056a8.323 8.323 0 0 1-2.833-2z"></path>
                            <path d="M22.595 11.417A6.607 6.607 0 0 0 24 7.333a6.62 6.62 0 0 0-1.953-4.713A6.617 6.617 0 0 0 17.333.667c-1.78 0-3.455.693-4.713 1.953a6.62 6.62 0 0 0-1.953 4.713 6.62 6.62 0 0 0 1.953 4.714A6.617 6.617 0 0 0 17.333 14c1.5 0 2.92-.497 4.084-1.405l3.494 3.493 1.178-1.177-3.494-3.494zm-5.262.916a4.97 4.97 0 0 1-3.535-1.464 4.965 4.965 0 0 1-1.465-3.536c0-1.335.52-2.59 1.465-3.535a4.963 4.963 0 0 1 3.535-1.465c1.336 0 2.591.52 3.535 1.465a4.965 4.965 0 0 1 1.465 3.535c0 1.336-.52 2.592-1.465 3.536a4.966 4.966 0 0 1-3.535 1.464z"></path>
                        </g>
                    </svg>
                </button>
                    <a href="#" class="menu__logo-link">
                        <img alt="Лого" src="img/tushy-logo.png" width="140" height="27px">
                    </a>
                <button class="menu__cart-trigger js__menu-cart-trigger">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="menu__cart-count">0</span>
                </button>
            </div>
            <div class="menu__bottom">
                <div class="menu__slider-container">
                    <div class="swiper menu__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><a href="#">Bidets</a></div>
                            <div class="swiper-slide"><a href="#">Stools</a></div>
                            <div class="swiper-slide"><a href="#">Toilet Paper</a></div>
                            <div class="swiper-slide"><a href="#">Toilet Brush</a></div>
                            <div class="swiper-slide"><a href="#">Travel Bidet</a></div>
                            <div class="swiper-slide"><a href="#">FAQs</a></div>
                            <div class="swiper-slide"><a href="#">Shop All</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu__sidebar-wrapper js__menu-sidebar">
                <div class="menu__sidebar">
                    <button class="menu__sidebar-prev js__menu-sidebar-prev"></button>
                    <div class="menu__sidebar-top">
                        <h2>Bidets</h2>
                        <ul>
                            <li>
                                <a href="#">TUSHY Classic 3.0</a>
                            </li>
                            <li>
                                <a href="#">TUSHY Spa 3.0</a>
                            </li>
                            <li>
                                <a href="#">TUSHY Ace Electric Bidet</a>
                            </li>
                        </ul>
                        <h2>Best Sellers'</h2>
                        <ul>
                            <li>
                                <a href="#">TUSHY System</a>
                            </li>
                        </ul>
                        <h2>Bathroom Products</h2>
                        <ul>
                            <li>
                                <a href="#">TUSHY Ottoman</a>
                            </li>
                            <li>
                                <a href="#">TUSHY Toilet Brush</a>
                            </li>
                            <li>
                                <a href="#">Bamboo TP</a>
                            </li>
                            <li>
                                <a href="#">TUSHY Stand & Squares</a>
                            </li>
                            <li>
                                <a href="#">TUSHY Travel</a>
                            </li>
                            <li>
                                <a href="#">Bamboo Towels</a>
                            </li>
                            <li>
                                <a href="#">TUSHY Merch</a>
                            </li>
                        </ul>
                        <a href="#" class="menu__sidebar-top-link">Shop All</a>
                    </div>
                    <div class="menu__sidebar-middle">
                        <ul>
                            <li>
                                <a href="#">Why TUSHY</a>
                            </li>
                            <li>
                                <a href="#">How it works</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Careers</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu__sidebar-bottom">
                        <button class="menu__sidebar-bottom-open-more js__menu-sidebar-bottom-open-more">More</button>
                        <div class="menu__sidebar-bottom-more-block js__menu-sidebar-bottom-more-block">
                            <a href="#">Benefits Of A Bidet</a>
                            <a href="#">TUSHY TV</a>
                        </div>
                        <button class="menu__sidebar-bottom-login">Login</button>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="menu__wrapper menu__wrapper--desktop">
            <div class="menu__wrapper--desktop-container">
                <div class="menu__wrapper-desktop-upper-container">
                    <button class="menu__wrapper-desktop-open-trigger">SHOP</button>
                    <div class="menu__wrapper-desktop-shop-container menu__wrapper-desktop-inner-container">
                        <ul class="menu__wrapper-desktop-shop-container-list">
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-1.png">
                                    <h3>TUSHY CLASSIC <br>3.0</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-2.png">
                                    <h3>TUSHY SPA <br>3.0</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-3.png">
                                    <h3>TUSHY ACE <br>ELECTRIC BIDE</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-4.png">
                                    <h3>TTUSHY <br>OTTOMAN</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-5.png">
                                    <h3>TUSHY ACE <br>ELECTRIC BIDE</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-6.png">
                                    <h3>BAMBOO <br>TP</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-7.png">
                                    <h3>TUSHY <br>STAND</h3>
                                </a>
                            </li>
                        </ul>
                        <button class="menu__wrapper-desktop-show-all">SHOP ALL</button>
                    </div>
                </div>

                <div class="menu__wrapper-desktop-upper-container">
                    <button class="menu__wrapper-desktop-open-trigger menu__wrapper-desktop-open-trigger--featured">FEATURED</button>
                    <div class="menu__wrapper-desktop-shop-container menu__wrapper-desktop-inner-container">
                        <ul class="menu__wrapper-desktop-shop-container-list">
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-8.png">
                                    <h3>TBIDET <br>COLLECTION</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-9.png">
                                    <h3>ECO <br>BUNDLE</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-10.png">
                                    <h3>ASSENTIAL <br>BUNDLE</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-11.png">
                                    <h3>TUSHY <br>BRUSH</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-12.png">
                                    <h3>DRYING <br>COLLECTION</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-13.png">
                                    <h3>TUSHY <br>TRAVEL</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/menu__wrapper-desktop-shop-img-14.png">
                                    <h3>TUSHY <br>MERCH</h3>
                                </a>
                            </li>
                        </ul>
                        <button class="menu__wrapper-desktop-show-all">SHOP ALL</button>
                    </div>
                </div>

                <a href="#" class="menu__logo-link">
                    <img alt="Лого" src="img/tushy-logo.png" width="140" height="27px">
                </a>

                <div class="menu__wrapper-desktop-upper-container">
                    <button class="menu__wrapper-desktop-open-trigger menu__wrapper-desktop-open-trigger--more">MORE</button>
                </div>

                <button class="menu__wrapper-desktop-open-trigger menu__wrapper-desktop-open-trigger--login">LOGIN</button>

                <button class="menu__cart-trigger js__menu-cart-trigger">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="menu__cart-count">0</span>
                </button>
            </div>
        </div>
        <div class="menu__slidebar-cart-wrapper js__menu-slidebar-cart">
            <div class="menu__slidebar-cart">
                <button class="menu__sidebar-prev js__menu-sidebar-prev-cart"></button>
                <div class="menu__sidebar-cart-top">
                    <h2>Cart</h2>
                    <p>(0 items)</p>
                </div>
                <p class="menu__sidebar-cart-empty">Your cart is empty.</p>
                <div class="menu__sidebar-cart-bottom">
                    <h2>Subtotal</h2>
                    <h2>$0.00</h2>
                </div>
                <div class="menu__sidebar-cart-footer">
                    <p>*Free Shipping on orders over $49 in the contiguous U.S.</p>
                    <a href="#">Checkout</a>
                </div>
            </div>
        </div>
    </section>

</header>