.brands-main{
    position: relative;
    z-index: 4;
}


@keyframes brandsmaninwave {
    0%{
        left: 0;
    }

    100%{
        left: -100%;
    }
}

.brands-main__svg{
    animation: brandsmaninwave 5s forwards;
    position: absolute;
    top: -63px;
    left: 0px;
    width: 200%;
    z-index: -1;
}
